body{
    background: rgba(0, 0, 0, 0.22);
    margin:0;

}
.top{
    position:relative;
    background-color: #a39e1d;
    margin:0;
    padding:0;
    padding:0;
    height:70px;
    width:100%;
    overflow:hidden;


}
.top span{
    float:left;
    display:block;
    font-size: 200%;
    margin-left:30%;
    margin-right:10%;
    margin-top:18px;
    text-align:center;
    /*margin-bottom:20px;*/
    padding:0;

}
.top input{
    float:left;
    width:18.5%;
    height:50%;
    margin-top:18px;
    margin-right:15%;
    placeholder:'请输入要添加的事请';
}
.content{
     position:absolute;
     /*background-color: rgba(19, 21, 111, 0.92);*/
     height:91.2%;
     width:40%;


      margin-top:0;
    margin-left:30%;
}
.finish{
    font-size:160%;
    height:auto;
    width:100%;

}